
<div class="login tw-flex">
    <div class="wrapper">
        <form style="font-family: sofia pro regular ;">
            <h1 style="font-family:  sofia pro bold; " class="tw-text-center tw-mb-8 animate__animated animate__bounce">Login</h1>
            <div class="input-box tw-flex">
                <input type="text" placeholder="Username/Email" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password"   required>
                <i class='bx bxs-lock'></i>
            </div>
            <div class="remember-forgot tw-flex">
                <label><input type="checkbox" > 
                    </label>
                    <p>remember me</p> 
            </div>
            <a class="btn btn-dark" type="button" >login</a>
        </form>
    </div>
    <div class="signup">
        <div class="signup-text">
            <p>You don't have an account ? </p>
           <a (click)="onClick()">Signup</a> 
        </div>
    </div>
</div>
