<div   class="signup tw-flex">
    <div class="wrapper">
        <form style="font-family: sofia pro regular ;">
            <h1 style="font-family:  sofia pro bold;" class="tw-text-center tw-mb-8 animate__animated animate__bounce">Create An Account</h1>
            <div class="input-box tw-flex">
                <input type="text" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box tw-flex">
                <input type="text" placeholder="Email" required>
                <i class='bx bxs-envelope' ></i>
            </div>
            <div class="input-box tw-flex">
                <input type="password" placeholder="Create password"   required>
                <i class='bx bxs-lock'></i>
            </div>
            <div class="input-box tw-flex">
                <input type="password" placeholder="Verify password"   required>
                <i class='bx bxs-lock'></i>
            </div>
            <a class="btn btn-dark" type="button" >Create</a>
        </form>
    </div>
    <div class="login">
        <div class="login-text">
            <p>You have already an account ? </p>
           <a (click)="onclick()">Login</a> 
        </div>
    </div>
</div>