
.crest1 {
    margin-right: 200px;
}

.bar {
    display: inline-block;
    width: 18px;
    height: 1px;
    border: 3px solid rgb(90, 89, 89);
    margin-left: 175px;
    margin-top: 50px;
    
}

.hometeam {
    font-family: 'sofia pro bold';
    font-size: 14px;
    margin-right: 490px;
}

.awayteam {
    font-family: 'sofia pro bold';
    margin-top: -23px;
    margin-left: 495px;
    font-size: 14px;
}

.img1, .img2 {
    width: 70px;
    height: 70px;
}

.prediction ul li {
    background-color: #211F1F;
    margin-bottom: 20px;
    height: 30px;
    width: 60%;
    margin-left: 20%;
    font-family: 'sofia pro regular';
    font-size: 13px;
    color: white;
}
ul li p:nth-child(1) {
    margin-top: 4px;
}
ul li p:nth-child(2) {
    color: #ffb800;
    margin-left: 4px;
    margin-top:4px;
}
@media screen and (max-width:990px) {
    .prediction ul li {
        width: 80%;
        margin-left: 10%;
    }
}
@media screen and (max-width:700px) {
    .prediction ul li {
        width: 100%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 600px) {
    
    .crest1 {
        margin-right: 60px;
    }
    .bar {
        margin-left: 60px;
        height: 2px;
        border: 3px solid rgb(90, 89, 89);
    }
    .kard {
        width: 80px;
        height: 80px;
    }
    
    .img1, .img2 {
        width: 50px;
        height: 50px;
    }
    .teamname1 {
        margin-top: -30px;
    }
    .teamname2 {
        margin-top: 6px;
    }
    .hometeam {
        font-size: 11px;
        margin-right: 215px;
    }
    .awayteam {
        font-size: 11px;
        margin-left: 215px;
    }
    .prediction ul li {
        background-color: #211F1F;
        margin-bottom: 15px;
        height: 30px;
    }
}
@media screen and (max-width: 500px) {
    
    .crest1 {
        margin-right: 60px;
    }
    .bar {
        margin-left: 60px;
        height: 2px;
        border: 3px solid rgb(90, 89, 89);
    }
}
@media screen and (max-width: 300px) {
    .crest1 {
        margin-right: 15px;
    }
    .bar {
        width: 8px;
        height: 2px;
        border: 3px solid rgb(90, 89, 89);
        margin-left: 20px;
    }
    .hometeam {
        font-size: 10px;
        margin-right: 122px;
    }
    .teamname2 {
        margin-top: 7px;
    }
    .awayteam {
        font-size:10px;
        margin-left:120px;
    }
    .prediction ul li {
        background-color:#211F1F;
        margin-bottom: 15px;
    }

}
